<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
	  <parameter name="grid" value="no"/>
	  <parameter name="gridURL" value="http://192.168.0.120:4444"/>
	  <parameter name="browser" value="chrome"/>
	  <parameter name="appURL" value="https://opensource-demo.orangehrmlive.com"/>
	  <parameter name="ITO" value="10" />
	  <parameter name="ET0" value="9" />
    <packages>
      <package name="script"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
